<html>
<head>
<link href="../siat_recuadros.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="alerta-recuadro warning">Warning</div>
<div class="alerta-recuadro success">Success</div>
<div class="alerta-recuadro note">Notification</div>
<div class="alerta-recuadro info">Information</div>
<div class="alerta-recuadro i_airplane purple">Custom Icon and color</div>
<div class="alerta-recuadro i_footprint green" data-sticky="true">This is a sticky note!</div>
</body>
</html>