@charset "utf-8";
/*   Estilos Centro Argentino de Jubilados   */

/*   Tags HTML   */

body {
  margin: 5px auto;         /*margen de la orilla*/
  padding: 0;               /*distancia de la orilla(en los 4 lados es cero)*/
  background: #ffffff;      /*color de fondo, blanco*/
  font: normal 85%/150% Arial, Helvetica, sans-serif;    /*tipo de fuente*/
  color: #111;      /*color de letra*/
  text-align: center; /* alineacion del texto*/ /*no funciona en IE*/
}

/*   Textos   */
h1, h3 {
  margin: 0;
  color: #111;
  font-weight: bold;
}   /*margen de orilla color de letra,tipo de fuente*/

h1 {
  font-size: 18px;
  margin: 0 0 5px 0;
}

p, td {
  font-size: 16px; 
  color: #111; 
  margin: 5px 1px 2px 1px;
}      /*texto: tamaño, color y margenes*/

fieldset {
  padding: 1px 10px 10px 10px; 
  border: 4px ridge #2af; color: #000;
} /*lineas del fieldset: */

legend {
  padding: 1px 5px 2px 5px;
  margin: 0 0 10px 0; 
  background-color: #fff;
  font-size: 17px; 
  font-weight: bold;
}

ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0em;
  left: 0em;
  width: 15em 
}
ul.navbar li {
  background: #191970;
  color: #CDC9C9;      /*color de letra*/
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none;
  color: #ffffff;
}

/*   layout   */

.logo {
  width: 780px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.pagina {
  width: 780px;
  margin: 0 auto;
  padding: 0;
  background: #fff;
  text-align: left;
  border-top: 0;
}

#logoImg {
  text-align: center;
  float: left;
  width: 80px;
  margin: 0;
  padding: 0;
}
#logoGardien {
  text-align: center;
  background: #f8b800;/*87CEFA;      /*color de fondo, blanco*/
  float: left;
  width: 80px;
  margin: 0;
  padding: 0;
}

#logoNombre {
  float: left;
  width: 500px;
  margin: 0;
  text-align: center;
  background: #191970;/*87CEFA;      /*color de fondo, blanco*/
  font: normal 85%/150% Arial, Helvetica, sans-serif;    /*tipo de fuente*/
  font-size: 30px;
  font-weight: bold;
  color: #CDC9C9;      /*color de letra*/
  padding: 28px 0px 28px 0px;
}

#menu {
  float: left;
  width: 780px;
  margin: 10 0 0 0;
  padding: 0;
  background: #7D26CD;

}

#contenido {
  float: left;
  width: 780px;
  margin: 30px 0 100 0px;
  padding: 0px;
  text-align: left;
  border: 0px solid #c00;
}

/*   #menu   */

#menu h3.titulo {
  width: 780px;
  margin: 0;
  padding: 8px 0px;
  background: #E6E6FA; /*color de fondo*/
  color: #551A8B;    /*color de fuente*/
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

#menu .final {
  float: left;
  margin: 0;
  border-right: 0px solid #aaa;
  list-style-type: none;
  font-size: 10px;
  color: #aaa;
}

#tablaDatos {
  font-family: Arial, Helvetica, sans-serif;      /*Letra q toman todas las celdas de la tabla*/
  text-align: center;   /*me centra las tablas en la hoja en IE*/
}

#tablaDatos table {
  border: 1px solid #65c;      /*borde de la tabla*/
  margin: 0 auto;           /*con el margen de las orillas podria centrarlo, pero depende de la tabla*/
  text-align: center;
}

#tablaDatos th {
  padding: 5px;               /* alto/ancho de celdas */
  background-color: #eef;     /* color de fondo celeste de las celdas*/
  border-bottom: 1px solid #0bf;   /*linea inferior - continua - color celeste */
  color: #000;      /*color de fuente*/
  font-size: 16px;  /*tamaño de fuente*/
  text-align: center;
}

#tablaDatos td {
  padding: 1px 5px 1px 5px;       /*1 es la dist arriba abajo del cont de la celda, 5 es la dist izq der del cont de la celda*/
  border-bottom: 1px solid #0bf;  /*linea inferior - continua - color celeste */
  font-size: 14px;    /*tamaño de fuente*/
  text-align: center;
}


#tablaIngreso {
  font-family: Arial, Helvetica, sans-serif;      /*Letra q toman todas las celdas de la tabla*/
  text-align: center;   /*me centra las tablas en la hoja en IE*/
  text-align: center;
}

#tablaIngreso table {
  border: 0;      /*borde de la tabla*/
  margin: 0 auto;
  text-align: center;
}

#tablaIngreso th {
  padding: 5px;               /* alto/ancho de celdas */
  color: #000;      /*color de fuente*/
  font-size: 16px;  /*tamaño de fuente*/
  text-align: right;
}

#tablaIngreso td {
  padding: 1px 5px 1px 5px;       /*1 es la dist arriba abajo del cont de la celda, 5 es la dist izq der del cont de la celda*/
  font-size: 14px;    /*tamaño de fuente*/
  text-align: left;
}

#tablaDatosME {
  font-family: Arial, Helvetica, sans-serif;      /*Letra q toman todas las celdas de la tabla*/
  text-align: center;   /*me centra las tablas en la hoja en IE*/
}

#tablaDatosME table {
  border: 5px solid #CD0000;      /*borde de la tabla*/
  margin: 0 auto;           /*con el margen de las orillas podria centrarlo, pero depende de la tabla*/
}

#tablaDatosME th {
  padding: 5px;               /* alto/ancho de celdas */
  background-color: #FF6347;     /* color de fondo celeste de las celdas*/
  border-bottom: 1px solid #0bf;   /*linea inferior - continua - color celeste */
  border-color:  #8B0000; 
  color: #000;      /*color de fuente*/
  font-size: 16px;  /*tamaño de fuente*/
  text-align: right;
}

#tablaDatosME td {
  padding: 1px 5px 1px 5px;       /*1 es la dist arriba abajo del cont de la celda, 5 es la dist izq der del cont de la celda*/
  border-bottom: 1px solid #0bf;  /*linea inferior - continua - color celeste */
  font-size: 14px;    /*tamaño de fuente*/
  text-align: center;
  background-color: #FF6347;     /* color de fondo celeste de las celdas*/
}

#tablaDatosET {
  font-family: Arial, Helvetica, sans-serif;      /*Letra q toman todas las celdas de la tabla*/
  text-align: center;   /*me centra las tablas en la hoja en IE*/
}

#tablaDatosET table {
  border: 1px solid #65c;      /*borde de la tabla*/
  margin: 0 auto;
}

#tablaDatosET th {
  padding: 5px;               /* alto/ancho de celdas */
  background-color: #eef;     /* color de fondo celeste de las celdas*/
  border-bottom: 1px solid #0bf;   /*linea inferior - continua - color celeste */
  color: #000;      /*color de fuente*/
  font-size: 16px;  /*tamaño de fuente*/
  text-align: right;
}

#tablaDatosET td {
  padding: 1px 5px 1px 5px;       /*1 es la dist arriba abajo del cont de la celda, 5 es la dist izq der del cont de la celda*/
  font-size: 14px;    /*tamaño de fuente*/
  text-align: left;
}

#tablaTareasMP {
  font-family: Arial, Helvetica, sans-serif;      /*Letra q toman todas las celdas de la tabla*/
  text-align: center;   /*me centra las tablas en la hoja en IE*/
}

#tablaTareasMP table {
  border: 1px solid #65c;      /*borde de la tabla*/
  margin: 0 auto;           /*con el margen de las orillas podria centrarlo, pero depende de la tabla*/
}

#tablaTareasMP th {
  padding: 5px;               /* alto/ancho de celdas */
  background-color: #eef;     /* color de fondo celeste de las celdas*/
  border-bottom: 1px solid #0bf;   /*linea inferior - continua - color celeste */
  color: #000;      /*color de fuente*/
  font-size: 13px;  /*tamaño de fuente*/
  text-align: center;
}

#tablaTareasMP td {
  padding: 1px 5px 1px 5px;       /*1 es la dist arriba abajo del cont de la celda, 5 es la dist izq der del cont de la celda*/
  border-bottom: 1px solid #0bf;  /*linea inferior - continua - color celeste */
  font-size: 11px;    /*tamaño de fuente*/
  text-align: center;
}

/* Root = Horizontal, Secondary = Vertical */
ul#menu2 {
	ba        /*para qe quede mas alto el menu principal*/
  margin: 0;
  border: 0 none;
  padding: 0;
/*  width: 500px;*/ /*For KHTML*/
  width:780px;
  list-style: none;
  height: 10px;
  border:0px solid #111;             /*borde negro */
  padding-bottom:5px;
}

ul#menu2 li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  height: 20px;
  background: #7D26CD;
}
ul#menu2 li{
  padding-bottom:5px;
}

ul#menu2 li:hover a:hover{
  background:#ffd;	  /*Color de fondo del primer menu al pasar por encima*/
  color: #000;         /*Color de letra del primer menu al pasar por encima*/
}

ul#menu2  ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 260px;       /*ancho del segundo menu*/
  list-style: none;
  display: none;
  position: absolute; /*relative; */
  bottom: 30px; /*0px; con relative y cero sale el mnu p abajo*/
  left: 10px;
  background: #eee;
  border: none;
  opacity: 2.5;
  -moz-opacity: 1.8;
  filter:alpha(opacity=80);
}

ul#menu2 ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul#menu2 ul li {
  width: 260px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
}

/* Root Menu */
ul#menu2 a {
  padding: 5px 15px 5px;       /*Del menu horizontal*/
  float: none !important;      /*For Opera*/
  float: left;                 /*For IE*/
  display: block;
  color: #fff;                 /*color de fuente del menu principal*/
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:bold;
/*  border-right:1px solid #818181;*/
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

/* Root Menu Hover Persistence */
ul#menu2 a:hover,
ul#menu2 li:hover a,
ul#menu2 li.iehover a {
  color: #003300;            /*Color de letra del primer menu al pasar por encima*/

}

/* 2nd Menu */
ul#menu2 li:hover li a,
ul#menu2 li.iehover li a {
  float: none;
  border:none;
  color:#fff;                /*Color de letra del segundo menu */
}

/* 2nd Menu Hover Persistence */
ul#menu2 li:hover li a:hover,
ul#menu2 li:hover li:hover a,
ul#menu2 li.iehover li a:hover,
ul#menu2 li.iehover li.iehover a {
  background:#ffd;
  color: #000;         /*Color de letra del segundo menu al pasar por encima*/
}

/* 3rd Menu */
ul#menu2 li:hover li:hover li a,
ul#menu2 li.iehover li.iehover li a {
  background: #7D26CD;    /*color de fondo 3 menu*/
  color: #fff;            /*Color de letra del tercer menu*/
}

/* 3rd Menu Hover Persistence */

ul#menu2 li:hover li:hover li a:hover,
ul#menu2 li:hover li:hover li:hover a,
ul#menu2 li.iehover li.iehover li a:hover,
ul#menu2 li.iehover li.iehover li.iehover a {
  background:#ffd;
  color: #000;            /*Color de letra del tercer menu al pasar por encima*/
}

/* 4th Menu */
ul#menu2 li:hover li:hover li:hover li a,
ul#menu2 li.iehover li.iehover li.iehover li a {
  background:#ddd;
  color: #003300;             /*Color de letra del cuarto menu*/
}

/* 4th Menu Hover */
ul#menu2 li:hover li:hover li:hover li a:hover,
ul#menu2 li.iehover li.iehover li.iehover li a:hover {
  background: #CCC;
  color: #0000CD;        /*Color de letra del cuarto menu al pasar por encima*/
}

ul#menu2 ul ul,
ul#menu2 ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 260px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#menu2 li:hover ul ul,
ul#menu2 li:hover ul ul ul,
ul#menu2 li.iehover ul ul,
ul#menu2 li.iehover ul ul ul {
  display: none;
}

ul#menu2 li:hover ul,
ul#menu2 ul li:hover ul,
ul#menu2 ul ul li:hover ul,
ul#menu2 li.iehover ul,
ul#menu2 ul li.iehover ul,
ul#menu2 ul ul li.iehover ul {
  display: block;
}
ul#menu2 .selected{
	color: #003300;
}

/*de white label (http://revaxarts-themes.com/whitelabel/dialogs_and_buttons.html)*/
.alerta-recuadro {
	border-color: #c7c7c7 #b2b2b2 #b2b2b2 #c7c7c7;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	color: #555;
	background-color: #e6e6e6;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px
		5px rgba(255, 255, 255, 0.5), inset 0 -2px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px
		rgba(255, 255, 255, 0.5), inset 0 -2px 8px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px
		rgba(255, 255, 255, 0.1), inset 0 -2px 8px rgba(0, 0, 0, 0.1);
	margin: 9px 0;
}

.alerta-recuadro:hover {
	border-color: #b2b2b2;
}

.alerta-recuadro a {
	color: #777777;
}

.alerta-recuadro a:hover {
	color: #444444;
}

.alerta-recuadro.red,.alerta-recuadro.warning {
	background-color: #f0a8a8;
}

.alerta-recuadro.red:hover,.alerta-recuadro.warning:hover {
	background-color: #f0cccc;
}

.alerta-recuadro.green,.alerta-recuadro.success {
	background-color: #a2e8a2;
}

.alerta-recuadro.green:hover,.alerta-recuadro.success:hover {
	background-color: #c5e8c5;
}

.alerta-recuadro.yellow,.alerta-recuadro.note {
	background-color: #e8e8a2;
}

.alerta-recuadro.yellow:hover,.alerta-recuadro.note:hover {
	background-color: #e8e8c5;
}

.alerta-recuadro.blue,.alerta-recuadro.info {
	background-color: #a8f0f0;
}

.alerta-recuadro.blue:hover,.alerta-recuadro.info:hover {
	background-color: #ccf0f0;
}

.alerta-recuadro.pink {
	background-color: #f0a8f0;
}

.alerta-recuadro.pink:hover {
	background-color: #f0ccf0;
}

.alerta-recuadro.purple {
	background-color: #aea8f0;
}

.alerta-recuadro.purple:hover {
	background-color: #cfccf0;
}

.alerta-recuadro.warning {
	background-image: url(templates/alert.png);
}

.alerta-recuadro.success {
	background-image: url(templates/tick.png);
}

.alerta-recuadro.note {
	background-image: url(templates/light_bulb.png);
}

.alerta-recuadro.info {
	background-image: url(templates/information.png);
}

.alerta-recuadro {
    background-position: 7px 8px;
    background-repeat: no-repeat;
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
    /*cursor: pointer;*/
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 10px 10px 10px 35px;
}
            /*7D26CD violeta cd3333rojo*/